body{
	font-family: 'Arimo', sans-serif;
	padding: 0;
	margin: 0;
}

/* INDEX */
.mb-0{
	margin-bottom: 0;
}
.mt-0{
	margin-top: 0;
}

/* Header */
#index{
	background-color: 
}
#index #header{
	margin-top: 8em;
	margin-bottom: 4em;
}

#index #header .logo{
	width: 50%;
	height: auto;
}

.logo-title{
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
}

/* Sign In Section*/
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default){
	background-color: white;
	border-bottom: 1px solid #d2d1d1;
	margin: 0;
	height: 54px;
}

#index input::placeholder{
	padding-left: 4em;
}

#index i{
	margin-left: .5em;
}

.btn-large{
	width: 100%;
}

#index a{
	color: white;
}
#index a:hover{
	text-decoration: underline;
}

#index .sign-up{
	color: #ff8f00;
	font-weight: 700;
}