body{
	font-family: 'Arimo', sans-serif;
	padding: 0;
	margin: 0;
}

a{
	color: white;
}
a:hover{
	text-decoration: underline;
}

.menu:hover{
	text-decoration: none;
}

.mb-0{
	margin-bottom: 0;
}
.mt-0{
	margin-top: 0;
}

/* INDEX */

/* INDEX Header */
#index{
	background-color: 
}
#index #header{
	margin-top: 8em;
	margin-bottom: 4em;
}

#index #header .logo{
	width: 50%;
	height: auto;
}

.logo-title{
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
}

/* INDEX Sign In Section*/
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default){
	background-color: white;
	border-bottom: 1px solid #d2d1d1;
	margin: 0;
	height: 54px;
}

#index input::placeholder{
	padding-left: 4em;
}

#index i{
	margin-left: .5em;
}

.btn-large{
	width: 100%;
}

#index .sign-up{
	color: #ff8f00;
	font-weight: 700;
}

/* HOME */

/* HOME Section */
#options{
	margin-top: 10em;
}

#options a{
	margin-top: .5em;
	margin-bottom: .5em;
}

#options .btn-large{
	font-size: 1.3rem;
}

/* HOME SideNav */
.side-nav{
	width: 260px;
	padding-top: 2em;
}

/* PROFILE */
#profile img{
	width: 50%;
	padding: 2em 0;
}

/* PROFILE Add Cards Section */
#add-card{
	margin-top: 3em;
}
.email{
	padding: .5em 4em;
}